@import url(https://fonts.google.com/specimen/IBM+Plex+Mono);

body {
  font-family: IBM Plex Mono, monospace;
  background-color: #000000;
  font-color: #FFFFFF;
}

nav {
  color: #00FF00;
}

a {
  color: #00FF00;
}

a:hover {
  color: #0000EE;
}

h1 {
  text-align: left;
  font-size: 24pt;
  color: #FFFFFF;
  font-weight: 200;
}

h2 {
  font-size: 18pt;
  font-weight: normal;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-weight: normal;
  font-size: 16pt;
  color: #FFFFFF;
}

p {
  font-weight: normal;
  font-size: 16pt;
  color: #FFFFFF;
}
